<div class="container text-center">
    <div class="text-center">
       <h4 class="text-warning">Fullness: @ViewBag.Fullness | Happiness: @ViewBag.Happiness | Meals: @ViewBag.Meals | Energy: @ViewBag.Energy</h4> 
    </div>
    <div class="col">
        <img class="img-thumbnail" src="https://media1.popsugar-assets.com/files/thumbor/A_VYzA4mzM8ejer76bRVFXqoX_4/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2019/05/19/206/n/44498184/tmp_bZsd3X_b6d3c64c3bff43e3_Courtesy_of_HBO_6_.jpg" alt="Dragon Image"> 
        <h4 class="text-warning">@ViewBag.Message</h4>
    </div>
    <div>
        <h5><a href="feed"><button class="btn btn-outline-warning">Feed</button></a> | <a href="play"><button class="btn btn-outline-warning">Play</button></a> | <a href="work"><button class="btn btn-outline-warning">Work</button></a> | <a href="sleep"><button class="btn btn-outline-warning">Sleep</button></a> </h5>
    </div>
    
</div>